<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>All users</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2 style="text-align: center">
      Total no of users are : <%= users.length %>
    </h2>
    <div>
      <table>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Username</th>
        </tr>
        <% for(user of users){ %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <form method="get" action="/user/<%= user.id %>/edit">
              <button type="submit">Edit Username</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/user/<%= user.id %>?_method=DELETE">
              <button type="submit">Delete User</button>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
